/* 1. Primero el reset o normalizacion*/

a {
  text-decoration: none;
}

body {
  margin: 0px;
}

/* 2. luego variables y custom properties*/

/* 3. Estilos globales */

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background-color: rgb(249 249 249);
  margin: 0px;
  z-index: 1;
}

header {
  top: 0;
  position: sticky;
  background-color: rgb(249 249 249);
  margin: 0px;
  box-shadow: 1px 1px 7px 7px rgba(20, 20, 20, 0.1);
  z-index: 1;
}

section {
  z-index: 1;
}

a:visited{
  color:black;
}

/* 4. Estilos de Layout*/

.wrapper {
  background-color: #ffff;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  max-width: auto;
  margin: 0 auto;
  padding: 30px;
  margin-bottom: 200px;
}

.wrapper div a img {
  width: 100px;
}

.wrapper > div {
  margin: 20px;
  margin-left: 120px;
  text-align: center;
  transition: transform 0.1s ease-in-out;
}

.wrapper div a {
  text-decoration: none;
  height: 30%;
}

.wrapper div a:visited {
  color: black;
}

.wrapper div:hover {
  transform: scale(1.1);
}

.wrapper-productos {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto-fit;
  justify-content: center;
}

header .menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.menu a {
  margin-left: 20px;
}

.border-bottom {
  border-bottom: #ffbc0d solid;
}

.menu-productos {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.backdrop {
  z-index: -100;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

/* menu desplegable */

.position-menu {
  z-index: 30;
  position: fixed;
  margin-top: 130px;
  height: 100%;
  width: 30px;
  transition: all 1s;
}

.position-menu:hover{
  width: 200px;
}

.menu-logo {
  width: 60px;
  position: relative;
  left: 0;
  transition: left 0.2s;
}

.logo {
  position: relative;
  left: 0px;
  width: 30px;
  transition: left 0.2s;
}

.menu-logo img {
  width: 30px;
}

.menu-logo:hover .logo {
  left: -40px;
}

.hover-menu {
  background-color: #ffff;
  transition: left 1s;
  position: relative;
  bottom: 200px;
  left: -200px;
  height: 100%;
}

.menu-logo:hover ~ .hover-menu {
  left: 0px;
}

.menu-logo:hover ~ .backdrop {
  z-index: -10;
  position: fixed;
  backdrop-filter: blur(8px);
}

.hover-menu:hover {
  left: 0px;
}

.hover-menu:hover ~ .backdrop {
  z-index: -10;
  position: fixed;
  backdrop-filter: blur(8px);
}

.desplegable {
  position: relative;
  top: 50px;
  list-style-type: none;
}

.desplegable li {
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.ajustar-izquierda {
  display: flex;
  justify-content: space-between;
}

.boton-entrar {
  position: relative;
  top: 50%;
  background-color: #ffbc0d;
  text-align: center;
  border: solid 1px;
  border-radius: 3px;
  padding: 5px 40px;
  height: 30px;
}

.boton-entrar:hover {
  opacity: 0.8;
}

/* 5. Componentes */
